<header>
  <nav>
    <a class="navbar-item" href={~p"/"}>Home</a>
    <a class="navbar-item" href={~p"/settings"}>Settings</a>
    <a class="navbar-item" href={~p"/games"}>Games</a>
  </nav>
</header>

<main class="section">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
