<header>
  <nav>
    <a class="navbar-item" href={~p"/"}>Home</a>
    <a class="navbar-item" href={~p"/"}>Settings</a>
    <a class="navbar-item" href={~p"/"}>Games</a>
  </nav>
</header>

<main class="section">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
