* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem;
  margin: 1rem 0;
}

#flash {
  position: fixed;
  top: 1rem;
  right: 300px;
  cursor: pointer;
  text-align: center;
}

.game-container {
  min-width: 600px;
  min-height: 600px;
}

.start-game-button {
  display: none;
}