@import "bulma.css";

nav {
  display: flex;
  justify-content: flex-end;
}

main.section {
  padding-top: 0;
}

/* .footer {
  padding-top: 0;
  padding-bottom: 0;
} */

 #flash {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
  text-align: center;
  background-color: aquamarine;
  padding: 0.25rem 2rem;
}

.game-container {
  min-width: 600px;
  min-height: 600px;
}

/* .game-container > canvas {
  transform: scale(50%);
} */

.start-game-button {
  /* visibility: hidden; */
  display: none;
}

.join-game-button {
  /* visibility: hidden; */
  display: none;
}
