@import "bulma.css";

nav {
  display: flex;
  justify-content: flex-end;
}

/* .navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-right:first-child {
  margin-right: auto;
} */

/* .navbar-right:last-child {
  margin-right: 0.5rem;
} */

main.section {
  padding-top: 0;
}

.footer {
  padding-top: 0;
  padding-bottom: 0;
}

/* body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

body > h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
}
*/

 #flash {
  position: fixed;
  top: 1rem;
  /* left: 300px; */
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
  text-align: center;
  background-color: aquamarine;
  padding: 0.25rem 2rem;
}

.game-container {
  min-width: 600px;
  min-height: 600px;
}

.start-game-button {
  visibility: hidden;
}
