<h2 class="block title">Golf</h2>

<form class="block" action="/games" method="post">
  <input name="_csrf_token" type="hidden" value={get_csrf_token()} />
  <button class="button is-link" type="submit">Create Game</button>
</form>
